@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Fjalla+One&family=Kanit:wght@300&display=swap');

:root{
    --color-rosa: #F1D4C2;
    --color-marron: #453232;
    --color-crema:#FFEEE4;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-rosa);
    height:10%;
    padding-left: 40px;
    padding-right: 40px;
}

/*ESTILOS DEL LOGO*/
.logotipo{
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
}

/*ESTILOS DEL MENU*/
nav{
    width: 33%;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li{
    font-family: 'Asap', sans-serif;
    font-size: 17px;
    font-weight: lighter;
    cursor: pointer;
}

nav ul li:hover{
    text-decoration: overline;
    color: white;
}

/*ESTILOS DE LOS ICONOS*/

.iconos{
    display: flex;
    width: 7%;
    justify-content: space-between;
}

.iconos i{
    font-size: 17px;
    color: var(--color-marron);
}

/*ESTILOS SECTION*/
section{
    height: 80%;
    display: column;
    text-align: center;
    background-color: var(--color-rosa);
}

section h1{
    font-size: 75px;
    font-family: 'Kanit', sans-serif;
    color: var(--color-marron);
    margin: 0;
}

section article{
    display: flex;
    flex-direction:row;
    height:80%;
}

.descripcion{
    width: 30%;
    display:flex;
    text-align: left;
    padding-left: 40px;
    flex-direction:column;
    align-items: flex-start;
}

.descripcion p{
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    padding-top: 25px;
    margin-bottom: 45px;
}

.descripcion .busqueda{
    width: 80%;
    height: 35px;
    display:flex;
    background-color: white;
    margin-bottom: 50px;
}

.busqueda input{
    width: 85%;
    height: 35px;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
    padding-left: 10px;
    box-sizing: border-box;
    border: none;
}

.lupa{
    text-align: center;
    width: 12%;
    height: 34px;
    padding-top:10px;
    background-color: var(--color-marron);
    color: white;
    box-sizing:border-box;
}

.descripcion button{
    width:150px;
    height: 35px;
    background-color: var(--color-marron);
    color:white;
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
}

/*ESTILOS IMAGEN*/
.imagen{
    width: 40%;
    
}

.imagen img{
    width: 84%;
    height:auto;
}

.detalles{
    display: flex;
    flex-direction: column;
    height: 150px;
    align-self: flex-end;
    justify-content: space-between;
    text-align: right;
    padding-bottom: 15px;
    width: 25%;
    color: white;
}

/*ESTILOS FOOTER*/
footer{
    display:flex;
    height: 10%;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-crema) ;
    bottom: 0;
}

footer h3{
    text-transform:uppercase;
    font-size: 18px;
    margin-block-start: 0;
    margin-block-end: 10px;
    font-family: 'Asap', sans-serif;
    
}

.marcas{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
   
}

.marcas img{
    width:80px;
    height:auto;    

}
